In [37]:
import pandas as pd
df=pd.read_excel("./dataset/Customer Call List.xlsx")
df1=df.copy()

In [38]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [39]:
'''
1. the data set has many NaN values in it 
2. the phone numbers are in different format 
3. the last names have some unuseful characters in it
4. the data set has a non_useful column that has to be removed
5. the addresses are not standard
6. in the donot contact column, if the value is "yes" , it needs to be removed
   from the dataset
7. "yes" and "no" are given in different format, they need to be standardized
8. dataset has duplicate values in it
'''

'\n1. the data set has many NaN values in it \n2. the phone numbers are in different format \n3. the last names have some unuseful characters in it\n4. the data set has a non_useful column that has to be removed\n5. the addresses are not standard\n6. in the donot contact column, if the value is "yes" , it needs to be removed\n   from the dataset\n7. "yes" and "no" are given in different format, they need to be standardized\n8. dataset has duplicate values in it\n'

In [40]:
# the first step of the data cleaning process is to remove the duplicate values
df.drop_duplicates(inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [41]:
#next we drop the irrelevant column 
df.drop(columns="Not_Useful_Column", inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [42]:
#now we move from column to column and check what needs fixing
#targeting the last name column
#the last name column has "special characters like '.', '/', '_' "
#this can be removed using the strip function

#strip() function removes the "specified characters" from either the "extreme left"
#or the "extreme right" of the string

#lstrip():removes from extreme left
#rstrip():removes from extreme right
#strip(): in general focuses on removing from both extreme left and right

In [43]:
df["Last_Name"] = df["Last_Name"].str.lstrip("...")
df["Last_Name"] = df["Last_Name"].str.lstrip("/")
df["Last_Name"] = df["Last_Name"].str.rstrip("_")

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [44]:
# all of them can be removed using a single strip command at once as well
df["Last_Name"] = df["Last_Name"].str.strip("./_")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [45]:
#now targeting the phone number columns
#first we will converts all the phone numbers to be just digits 
#then we will convert them as 123-456-7890

In [46]:
df["Phone_Number"]=df["Phone_Number"].str.replace(r"\D","",regex=True)
df
#here anything that is not a digit will be replaced by blank space
#so "special characters","letters" will be replaced by blank space


#df["Phone_Number"]=df["Phone_Number"].str.replace(r"[^0-9A-Za-z]","",regex=True)
#here anything that is not a number, or a character(upper and lower case) will be replaced by 
#blank space



#"r" is used to treat "\D" as a raw text
#"\D" means, anything that is not a digit
#regex= regular expression = it helps to search and replace characters easily
#"\d": any digit between 0 to 9
#"\s": any space
#"\w": any letter or number
#"[A-Z]": any capital letter
#"[a-z]": any small letter
#"[0-9]": any number
#"[^0-9]": any thing that is not a digit from 0-9
#"[^0-9A-Za-z]":any thing that is not, digit,capital letter, small letter

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [47]:
df["Phone_Number"]=df["Phone_Number"].str.replace(r"^\s*$","NaN",regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,NaN,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [48]:
#now we conver the number to our desired format
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: str(x))

df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3] + "-" + x[3:6] + "-" + x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan--,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,NaN--,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,NaN--,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [49]:
df["Phone_Number"]=df["Phone_Number"].str.replace("NaN--", "Missing")

df["Phone_Number"]=df["Phone_Number"].str.replace("nan--", "Missing")

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,Missing,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,Missing,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Missing,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,Missing,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,Missing,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Missing,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [50]:
'''
what we did in the above 2 cells 
A. UISNG THE LAMBA FUNCTION
we wanted to apply slicing so we first converted the numbers into srting 
we uses .apply(lambda x:str(x))
this is a single line function that stores each values of phone number column into x , and returns
str(x)

then on the string we applied slicing , by using the lambda function again 
.apply(lambda x: x[0:3]+"-"+x[3:6]+"-"+x[6:10])

this adds "-" between the string 

B. replacing nan values
we replaced the nan values with missing using .str.replace("nan","missing")
'''

'\nwhat we did in the above 2 cells \nA. UISNG THE LAMBA FUNCTION\nwe wanted to apply slicing so we first converted the numbers into srting \nwe uses .apply(lambda x:str(x))\nthis is a single line function that stores each values of phone number column into x , and returns\nstr(x)\n\nthen on the string we applied slicing , by using the lambda function again \n.apply(lambda x: x[0:3]+"-"+x[3:6]+"-"+x[6:10])\n\nthis adds "-" between the string \n\nB. replacing nan values\nwe replaced the nan values with missing using .str.replace("nan","missing")\n'

In [51]:
#next targeting address 
# we split the address into street, state, and pincode for better readability 
df[["Street","State","PIN"]]=df["Address"].str.split(",", n=2, expand=True)
df=df[["CustomerID","First_Name","Last_Name","Phone_Number","Address","Street","State","PIN","Paying Customer","Do_Not_Contact"]]
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",123 Shire Lane,Shire,None,Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,93 West Main Street,None,None,No,Yes
2,1003,Walter,White,Missing,298 Drugs Driveway,298 Drugs Driveway,None,None,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",980 Paper Avenue,Pennsylvania,18503,Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,123 Dragons Road,None,None,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,768 City Parkway,None,None,Yes,Yes
6,1007,Jeff,Winger,Missing,1209 South Street,1209 South Street,None,None,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,98 Clue Drive,None,None,N,No
8,1009,Gandalf,NaN,Missing,123 Middle Earth,123 Middle Earth,None,None,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",25th Main Street,New York,None,Yes,No
10,1011,Samwise,Gamgee,Missing,"612 Shire Lane, Shire",612 Shire Lane,Shire,None,Yes,No
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,2394 Hogwarts Avenue,None,None,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,2039 Main Street,None,None,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,343 City Parkway,None,None,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,214 HR Avenue,None,None,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,2395 Hogwarts Avenue,None,None,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",121 Paper Avenue,Pennsylvania,None,Yes,No
17,1018,Clark,Kent,Missing,3498 Super Lane,3498 Super Lane,None,None,Y,NaN
18,1019,Creed,Braton,Missing,N/a,N/a,None,None,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",910 Tatooine Road,Tatooine,None,Yes,N

In [52]:
#deleting the address column for better readabiltiy 
df=df.drop(columns="Address")
df["Street"]=df["Street"].str.replace("N/a","None")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,None,None,No,Yes
2,1003,Walter,White,Missing,298 Drugs Driveway,None,None,N,NaN
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,18503,Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,None,None,Yes,Yes
6,1007,Jeff,Winger,Missing,1209 South Street,None,None,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,No
8,1009,Gandalf,NaN,Missing,123 Middle Earth,None,None,Yes,NaN
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Yes,No
10,1011,Samwise,Gamgee,Missing,612 Shire Lane,Shire,None,Yes,No
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,None,None,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,No,N
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Yes,No
17,1018,Clark,Kent,Missing,3498 Super Lane,None,None,Y,NaN
18,1019,Creed,Braton,Missing,None,None,None,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Yes,N

In [53]:
#targeting paying customer and donot contact 
#convert "Yes" to "Y" and "No" to "N"

df["Paying Customer"]= df["Paying Customer"].str.replace("Yes","Y")
df["Paying Customer"]= df["Paying Customer"].str.replace("No","N")
df["Paying Customer"]= df["Paying Customer"].str.replace("N/a","None")

df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace("Yes","Y")
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace("No","N")
df["Do_Not_Contact"]=df["Do_Not_Contact"].fillna("None")

df

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,None,None,N,Y
2,1003,Walter,White,Missing,298 Drugs Driveway,None,None,N,None
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,18503,Y,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,N
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,None,None,Y,Y
6,1007,Jeff,Winger,Missing,1209 South Street,None,None,N,N
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,N
8,1009,Gandalf,NaN,Missing,123 Middle Earth,None,None,Y,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Y,N
10,1011,Samwise,Gamgee,Missing,612 Shire Lane,Shire,None,Y,N
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,None,None,Y,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Y,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Y,N
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,N,N
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Y,N
17,1018,Clark,Kent,Missing,3498 Super Lane,None,None,Y,None
18,1019,Creed,Braton,Missing,None,None,None,None,Y
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Y,N

In [54]:
#now we have targeted all the individual columns and standardized the values
#now we have to delete the rows which have said "donot_contact=Y"

for i in df.index:
    if(df.loc[i,"Do_Not_Contact"]=="Y"):
        df.drop(i,inplace=True)

df
#now we have all the customers that can be contacted

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Y,N
2,1003,Walter,White,Missing,298 Drugs Driveway,None,None,N,None
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,N
6,1007,Jeff,Winger,Missing,1209 South Street,None,None,N,N
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,N
8,1009,Gandalf,NaN,Missing,123 Middle Earth,None,None,Y,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Y,N
10,1011,Samwise,Gamgee,Missing,612 Shire Lane,Shire,None,Y,N
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,None,None,Y,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Y,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Y,N
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,N,N
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Y,N
17,1018,Clark,Kent,Missing,3498 Super Lane,None,None,Y,None
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Y,N

In [55]:
#we will also convert the none values inside donot conatct to "N"
#because these customers can be contacted

df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace("None","N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Y,N
2,1003,Walter,White,Missing,298 Drugs Driveway,None,None,N,N
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,N
6,1007,Jeff,Winger,Missing,1209 South Street,None,None,N,N
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,N
8,1009,Gandalf,NaN,Missing,123 Middle Earth,None,None,Y,N
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Y,N
10,1011,Samwise,Gamgee,Missing,612 Shire Lane,Shire,None,Y,N
11,1012,Harry,Potter,Missing,2394 Hogwarts Avenue,None,None,Y,N
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Y,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Y,N
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,N,N
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Y,N
17,1018,Clark,Kent,Missing,3498 Super Lane,None,None,Y,N
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Y,N

In [56]:
#next we will delete the customers who have not provided a phone number
for i in df.index:
    if(df.loc[i,"Phone_Number"]=="Missing"):
        df.drop(i,inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Y,N
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,N
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,N
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Y,N
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Y,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Y,N
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,N,N
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Y,N
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Y,N

In [ ]:
#lastly we will reset the index , so the person doesnot think that some values are missing

#df.reset_index(), this resets the index, but saves the previous one into a new column

df.reset_index(drop=True, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street,State,PIN,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Y,N
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Y,N
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,N,N
3,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Y,N
4,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Y,N
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Y,N
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,N,N
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,N,N
8,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Y,N
9,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Y,N

In [ ]:
#finally we have our cleaned data 
#below is the old messy data and above is the cleaned and standard data data 

old_data=pd.read_excel("./dataset/Customer Call List.xlsx")
old_data
df.to_excel("./dataset/cleaned Customer Call List.xlsx",index=False)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [61]:
df.to_excel("./dataset/cleaned Customer Call List.xlsx",index=False)